#title{
    text-align: center;
}
#container{

    border-radius: 10px ;
    width: 75%;



}
#description{
    text-align: center;
    font-size: large;
    margin-top: 15px ;
}

#name{
    margin-left: 20px;
    border-radius: 5px;
    padding-left: 3px;
    display: block;
}
#email{
    margin-left: 20px;
    border-radius: 5px;
    padding-left: 3px;
    display: block;
}
#number{
    margin-left: 20px;

    border-radius: 5px;
    padding-left: 3px;
    display: block;
}
main{

    align-content: center;
}
ul{
    list-style: none;
}
label{
    margin-top: 5px;
 }
#type-of-work{
    margin-left: 20px;
}
.row{
    margin-top: 20px;
    margin-bottom: 20px ;
}
hr{
    border: 2px solid darkcyan;
}
